@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("./assets/fonts/poppins-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url("./assets/fonts/poppins-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: bold;
  font-weight: 700;
  font-display: optional;
  src: url("./assets/fonts/casanova.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("./assets/fonts/vazirmatn-arabic-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("./assets/fonts/vazirmatn-arabic-700-normal.woff2") format("woff2");
}
